/*--------------grid---------------*/
// sell left and right gup
$gup: rem(15) ;

/*--------------Fonts---------------*/
$header-ff: 'Raleway', sans-serif;
$text-ff: 'Lato', sans-serif;
/*--------------colors---------------*/
$white: #ffffff; // true white
$white-01: #fffefe; // nav-bar
$black: #222222; // some title and text
/*--------------button---------------*/


